.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background: transparent;
  transition: all 0.3s ease-in-out;
  z-index: 1000;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  pointer-events: none;
}

.header.scrolled::after {
  display: none;
}

.header.scrolled {
  background: white;
  /* background: var(--primary); */
  padding: 10px 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

/* Logo Styling */
.logo {
  cursor: pointer;
  width: 120px;
  transition: all 0.3s ease-in-out;
  border: 1px solid var(--pink);
}

.header.scrolled .logo {
  width: 80px;
}

/* Navigation Styles */
.nav {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  /* background-color: red; */
  width: 40%;
}

.nav a {
  color: #777;
  font-weight: 200;
  text-decoration: none;
  font-size: 20px;
  padding: 15px;
  border-radius: 3px;
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

.nav a:hover {
  background: #f3f3f3;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.menu-toggle {
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: white;
  background: none;
  border: none;
}

.dis-none {
  display: none;
}

@media (max-width: 1110px) {
  .header {
    padding: 15px 20px;
    justify-content: space-between;
  }

  .logo {
    width: 80px;
    border-radius: 5px;
  }

  .header.scrolled .logo {
    width: 70px;
  }

  .menu-toggle {
    display: block;
  }

  .nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #1f2a38;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px;
    transform: translateY(-200%);
    transition: transform 0.3s ease-in-out;
  }

  .nav a {
    font-size: 18px;
    padding: 10px 15px;
    display: block;
  }

  .nav.open {
    transform: translateY(0);
  }
}
