.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px 15px;
  background-color: white;
}

.gallery-item {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
}

.gallery-image {
  width: 100%;
  height: 800px;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease;
  cursor: pointer;
}

.gallery-item:hover .gallery-image {
  transform: scale(1.1);
}

.gallery-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  pointer-events: none;
}

.gallery-title {
  font-size: 3.5rem;
  margin: 0;
  font-weight: 100;
}

.gallery-button {
  margin: 2rem auto;
  padding: 15px 20px;
  min-width: 150px;
  background-color: var(--primary);
  color: black;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  pointer-events: auto;
}

.gallery-button:hover {
  background-color: var(--second);
}

/* Responsive for mobile */
@media (max-width: 992px) {
  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .gallery-grid {
    grid-template-columns: 1fr;
  }

  .gallery-image {
    height: 550px;
  }
}
