body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-family: "Public Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white !important;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --text: #544541;
  --text-2: #b98d77;
  --primary: #fff7e7;
  --pink-light: #fff7e7;
  --second: rgb(212, 206, 188);
  --tri: #f7f7f7;
}

input[type="date"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #ccc;
  background: white;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
}

/* Remove the calendar icon in WebKit browsers (Chrome, Safari) */

/* Remove default Firefox styles */
input[type="date"]::-moz-focus-inner {
  border: 0;
}

.date-picker-wrapper input[type="date"] {
  padding-right: 30px; /* Space for a custom icon */
}

.flex-col-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
}

.cart {
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  z-index: 99999999; /* Ensure it stays on top */
}
.cart-counter {
  top: -5px;
  right: -5px;
  position: absolute;
  background-color: var(--pink-light);
  border-radius: 50%;
  text-align: center;
  padding: 5px;
  height: 25px;
  width: 25px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  z-index: 100000;
}

.cart a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000; /* WhatsApp Green */
  color: white !important; /* Icon color */
  font-size: 24px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cart-icon {
  padding: 15px;
}
.not-av {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
}
.not-av h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  text-align: center;
}

.cart a:hover {
  background-color: #333;
}
@media (max-width: 768px) {
  .cart {
    position: fixed;
    bottom: 2em;
    right: 2rem;
  }
}

.loader-2 {
  width: 13px;
  height: 13px;
  border: 2px solid #aaa;
  border-bottom-color: #000;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader {
  width: 20px;
  height: 20px;
  border: 3px solid #aaa;
  border-bottom-color: #000;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-con {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-loader {
  margin-top: auto;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-1 {
  z-index: 10000;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(152, 97, 106);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem; /* Replaces fixed height */
}

.banner-1 h2 {
  text-align: center;
  margin: 0;
  color: #fff;
  font-weight: 500;
  font-size: 1.25rem; /* Base font size for medium devices */
}

/* For smaller screens: reduce font size */
@media (max-width: 575px) {
  .banner-1 h2 {
    font-size: 1rem;
  }
}

/* For larger screens: increase font size */
@media (min-width: 768px) {
  .banner-1 h2 {
    font-size: 1.5rem;
  }
}

.original-price {
  text-decoration: line-through;
  color: #a7a7a7;
  font-size: 1rem;
  margin-left: 4px;
}
/* HTML: <div class="loader"></div> */
.loader-timer {
  margin-left: 1rem;
  --c1: #673b14;
  --c2: #f8b13b;
  width: 15px;
  height: 32px;
  border-top: 4px solid var(--c1);
  border-bottom: 4px solid var(--c1);
  background: linear-gradient(
      90deg,
      var(--c1) 2px,
      var(--c2) 0 5px,
      var(--c1) 0
    )
    50%/7px 8px no-repeat;
  display: grid;
  overflow: hidden;
  animation: l5-0 2s infinite linear;
}
.loader-timer::before,
.loader-timer::after {
  content: "";
  grid-area: 1/1;
  width: 75%;
  height: calc(50% - 4px);
  margin: 0 auto;
  border: 2px solid var(--c1);
  border-top: 0;
  box-sizing: content-box;
  border-radius: 0 0 40% 40%;
  -webkit-mask: linear-gradient(#000 0 0) bottom/4px 2px no-repeat,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  background: linear-gradient(var(--d, 0deg), var(--c2) 50%, #0000 0) bottom /
      100% 205%,
    linear-gradient(var(--c2) 0 0) center/0 100%;
  background-repeat: no-repeat;
  animation: inherit;
  animation-name: l5-1;
}
.loader-timer::after {
  transform-origin: 50% calc(100% + 2px);
  transform: scaleY(-1);
  --s: 3px;
  --d: 180deg;
}
@keyframes l5-0 {
  80% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0.5turn);
  }
}
@keyframes l5-1 {
  10%,
  70% {
    background-size: 100% 205%, var(--s, 0) 100%;
  }
  70%,
  100% {
    background-position: top, center;
  }
}
